.Info {
	display: inline-block;
}

#InfoLinks {
	position:relative;
	margin-right:10%;
	
}

#InfoMitte {
	position:relative;
	margin-right:10%;
}

.Info input {
	display: block;
}

input {
	margin-left:10px;
}

td a{
	text-decoration:none
}
.infoZeile{
	display: block;
}

.smallInput input{
	width: 30px;
}

.InputLine{
	display: -webkit-box
}